version: '3'
services:
  middleware:
    build: .
    command: ./middleware
    ports:
      - "8090:8090"
    depends_on:
      - node-1
      - node-2
      - node-3
      - node-4

  etcd1:
    image: quay.io/coreos/etcd:v3.5.0
    command:
      - etcd
      - --name=etcd1
      - --initial-advertise-peer-urls=http://etcd1:2380
      - --listen-peer-urls=http://0.0.0.0:2380
      - --listen-client-urls=http://0.0.0.0:2379
      - --advertise-client-urls=http://etcd1:2379
      - --initial-cluster-token=etcd-cluster-1
      - --initial-cluster=etcd1=http://etcd1:2380,etcd2=http://etcd2:2380
      - --initial-cluster-state=new
    volumes:
      - etcd1_data:/etcd-data

  etcd2:
    image: quay.io/coreos/etcd:v3.5.0
    command:
      - etcd
      - --name=etcd2
      - --initial-advertise-peer-urls=http://etcd2:2380
      - --listen-peer-urls=http://0.0.0.0:2380
      - --listen-client-urls=http://0.0.0.0:2379
      - --advertise-client-urls=http://etcd2:2379
      - --initial-cluster-token=etcd-cluster-1
      - --initial-cluster=etcd1=http://etcd1:2380,etcd2=http://etcd2:2380
      - --initial-cluster-state=new
    volumes:
      - etcd2_data:/etcd-data


  db-1:
    image: postgres:13
    environment:
      POSTGRES_DB: nodedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata1:/var/lib/postgresql/data

  db-2:
    image: postgres:13
    environment:
      POSTGRES_DB: nodedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata2:/var/lib/postgresql/data


  db-3:
    image: postgres:13
    environment:
      POSTGRES_DB: nodedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata3:/var/lib/postgresql/data


  db-4:
    image: postgres:13
    environment:
      POSTGRES_DB: nodedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata4:/var/lib/postgresql/data


  node-1:
    build: .
    command: ./node
    environment:
      - NODE_ID=1
      - DB_HOST=db-1
      - ETCD_ENDPOINTS=http://etcd1:2379,http://etcd2:2379
    ports:
      - "8081:8080"
    depends_on:
      - db-1
      - etcd1
      - etcd2

  node-2:
    build: .
    command: ./node
    environment:
      - NODE_ID=2
      - DB_HOST=db-2
      - ETCD_ENDPOINTS=http://etcd1:2379,http://etcd2:2379
    ports:
      - "8082:8080"
    depends_on:
      - db-2


  node-3:
    build: .
    command: ./node
    environment:
      - NODE_ID=3
      - DB_HOST=db-3
      - ETCD_ENDPOINTS=http://etcd1:2379,http://etcd2:2379
    ports:
      - "8083:8080"
    depends_on:
      - db-3


  node-4:
    build: .
    command: ./node
    environment:
      - NODE_ID=4
      - DB_HOST=db-4
      - ETCD_ENDPOINTS=http://etcd1:2379,http://etcd2:2379
    ports:
      - "8084:8080"
    depends_on:
      - db-4
      - etcd1
      - etcd2

volumes:
  pgdata1:
  pgdata2:
  pgdata3:
  pgdata4:
  etcd1_data:
  etcd2_data: